.heading {
  background-color: var(--gray);
  color: var(--white);
  padding: 20px;
  text-align: center;
}

.heading h1 {
  color: var(--white);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.recipe {
  margin-bottom: 30px;
}

.recipe img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
  background-color: var(--gray);
  color: var(--white);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}