#profile-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

h1 {
  color: var(--gray);
}

p {
  margin-bottom: 10px;
}

.social-link {
  display: inline-block;
  margin-right: 10px;
}